<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salekur.app.bachelor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".group.CashInOutActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".group.MemberTransactionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".group.AddCostActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".group.ComplainActivity" />
        <activity android:name=".group.SendCashActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".group.NoticeViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".group.AddMealActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".group.GroupRequestActivity" />
        <activity android:name=".group.GroupMemberActivity" />
        <activity android:name=".ViewProfileActivity" />
        <activity android:name=".group.JoinGroupActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".SupportActivity" />
        <activity android:name=".auth.ForgetPasswordActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>